<header class="container">
    <div class="logo">
      <a class="logo__link" href="../index.html">
        <picture>
          <source
            srcset="
              /images/desktop/logo@1x.png,
              /images/desktop/logo@2x.png
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /images/tablet/logo@1x.png,
              /images/tablet/logo@2x.png
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /images/mobile/logo@1x.png,
            /images/mobile/logo@2x.png
            "
            media="(max-width: 767px)"
          />
          <img src="/images/desktop/logo@1x.png" alt="logo" />
        </picture>
      </a>
    </div>
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
</header>