<div class='container'>
  <form class='form'>
    <div class='input-container'>
      <input
        type='text'
        name='event'
        id='input-event'
        class='input-search'
        placeholder='Start searching'
      />
      <button type="submit" class='input-search-label'>
        <svg width="12" height="12">
          <use href="../images/svg/icons.svg#icon-search-icon"></use>
        </svg>
      </button>
    </div>

    <div class='select-wrap'>
      <select name='country' class="select-country" id='country-select'>
        <option value=''>Choose country</option>
      </select>
    </div>
  </form>
</div>